@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.bg-customBrown {
    background-color: #412814;
}

.Main-Content {
    width: 100%;
    height: auto;
    padding-right: 0;
    margin: 0;
    display: block;
    box-sizing: border-box;
    padding-left: 106px;

}

.responsive-img {
    width: 100%;
    height: auto;
    display: block;
}

/* Ensures the sidebar takes up only 106px width */
.side-bar {
    width: 106px !important;
    position: relative;
    font-size: 12px;
    text-align: center;
    font: normal normal bold 14px/24px Roboto;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* Helps prevent any overflow issues */
}

.offcanvas-body,
.offcanvas-footer {
    padding: 0 !important;
    margin: 0 !important;
}

/* hides and positions the side bar menu */
.submenu {
    display: none;
    position: absolute;
    left: 100%;
    background-color: #ffffff;
    padding: 0;
    min-width: 150px;
    width: 1175px;
    height: 259px;
    z-index: 1000;
    border: 1px solid #412814;

}

.has-submenu a {
    display: inline-block;
    /* Make the <a> tag behave like a block element */
}


/* on hover display menu */
.has-submenu:hover .submenu {
    display: block;
}

/* switches background color and text when only when hovered */
.has-submenu:hover {
    background-color: #412814;
    color: white;
}

.has-submenu:hover .icon-format {
    filter: brightness(0) invert(1);
    /* Makes the image white on hover */
}

.icon-format {
    padding-top: 10px;
    padding-bottom: 10px;
}

.subitems-list {
    width: 20%;
    padding-top: 20px;
    padding-right: 15px !important;
    padding-left: 25px !important;
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0.45px;
    color: #412814;
    opacity: 1;
    max-height: 300px;
}

.subitems-list ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.si-list {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    white-space: nowrap;
}

/* second menu's figure */
.subitems-imgs {
    width: 80%;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-left: 15px;
}

.figure {
    flex: 1;
    margin: 0;
    padding: 5px;
    text-align: center;
}

.figure img {
    width: 100%;
    height: auto;
}

.figure-caption {
    text-align: left;
    font: normal normal normal 12px/17px Roboto;
    letter-spacing: 0px;
    color: #412814;
    opacity: 1;
}

.social-icon {
    margin-top: 10px;
    width: 35px;
    height: 35px;
    opacity: 1;
}

/* Main Content / Articles Css  */
.icon-title-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 25px;
}

.sub-icon-title {
    text-align: left;
    font: normal normal bold 14px/17px Roboto;
    letter-spacing: 0px;
    color: #412814;
    text-transform: uppercase;
    opacity: 1;
}

.sub-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 2%;
    border-right: 1px solid #412814;
    padding-right: 2%;
}

.sub-icon img {
    width: 50px;
    height: 50px;
}

.sub-title1 {
    margin: 0;
    text-align: left;
    font: normal normal bold 30px/36px Barlow;
    letter-spacing: 0px;
    color: #412814;
    text-transform: uppercase;
}

.sub-description {
    /* UI Properties */

    text-align: left;
    font: normal normal normal 16px/23px Roboto;
    letter-spacing: 0px;
    color: #4E3C2D;
    opacity: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.cust-button{
    margin-bottom: 10px;
}

/* ---------------------------- */
/* Image Splide CSS */

.splide__slide {
    img {
        width: 100%;
        height: 411px;
        object-fit: cover;
        display: block;
    }
}

.carousel {
    width: 100%;
    max-width: 1700px;
    height: 411px;

    border: 1px solid #AFAFAF;
    opacity: 1;
    margin: auto;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.col-md-6 {
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 20px;
}

.cust-button-carousel,
.title1,
.title2,
.description {
    text-align: left;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
}

.title1 {
    font: normal normal bold 35px/50px Barlow;
    letter-spacing: 0px;
    color: #412814;
    text-transform: uppercase;
    opacity: 1;
    font-size: 1em;
}

.title2 {
    font: normal normal bold 35px/50px Barlow;
    letter-spacing: 0px;
    color: #412814;
    text-transform: uppercase;
    opacity: 1;
    font-size: 1.5em;
    margin-bottom: 30px;
}

.description {
    font: normal normal normal 16px/23px Roboto;
    letter-spacing: 0px;
    color: #4E3C2D;
    opacity: 1;
    margin-bottom: 30px;
}

@media (max-width: 760px) {

    .cust-button-carousel,
    .title1,
    .title2,
    .description {
        text-align: center;
    }

    .carousel {
        height: auto;
        border: none;
    }

    .row {
        flex-direction: column;
        padding: 10px;
    }

    .col-md-6 {
        width: 100%;
        text-align: center;
        padding: 10px;
        box-sizing: border-box;
    }

    .col-md-6 img {
        height: 411px;
        max-width: 100%;
    }

    .sub-icon img {
        width: auto;  /* Keep the width in proportion */
        height: 50px; /* Set a fixed height, adjust as needed */
        max-width: 100%; /* Make sure the image doesn't overflow */
        object-fit: contain; /* Prevent the image from being stretched */
    }
}

/* ------------------------------ */

/* Youtube Splide CSS*/

.carousel-vid-title {
    /* UI Properties */
    text-align: center;
    font: normal normal bold 25px/30px Roboto;
    letter-spacing: 0px;
    color: #412814;
    text-transform: uppercase;
    opacity: 1;
}

.splide-vid {
    max-width: 90%;
    height: auto;
    margin: 0 auto;
}

/* Adjust the iframe size to fit within the custom dimensions */
.splide-vid .splide__slide iframe {
    width: 500px;
    height: 300px;
    border-radius: 25px;
    padding: 15px;
    margin: 0 auto;
}

/* Instagram Splide CSS*/

.carousel-vid-title-IG {
    font: normal normal bold 25px/30px Roboto;
    letter-spacing: 0px;
    color: #412814;
    text-transform: uppercase;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.carousel-vid-title-IG .icon {
    width: 20px;
    height: auto;
}


.splide-ig {
    max-width: 90%;
    height: auto;
    margin: 0 auto;
}

/* Adjust the iframe size to fit within the custom dimensions */
.splide-ig .splide__slide iframe {
    width: 300px;
    height: 300px;
    border-radius: 25px;
    padding: 15px;
    margin: 0 auto;
}


@media only screen and (max-width: 1100px) {
    .Main-Content {
        padding: 0;
        margin: 0;
    }

    .container-lg {
        display: none;
    }

    .container{
        align-items: center;
    }
}

@media only screen and (max-width: 1300px) {
    .social-icon {
        display: none;
    }
}