@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.Header-Menu {
    display: none;
}

.Menu-Icon-Toggle {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 21px;
    padding-left: 22px;
    z-index: 50;
    height: 55px;
    width: auto;
}

.Menu-Icon-Toggle img {
    height: 24.46pt;
    width: 49.62pt;
}

.Menu-Icon-Toggle2 {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 21px;
    padding-right: 22px;
    z-index: 50;
    height: 30px;
    width: 30px;
}

.dropdown-social-icons {
    display: none;
    top: 0;
    right: 0;
    padding-top: 21px;
    padding-right: 22px;
    z-index: 50;
}

.dropdown-menu {
    min-width: 40px !important;
    width: 40px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center the items horizontally */
    padding: 0 !important;
    margin: 0 !important;
}

.dropdown-menu li {
    padding: 5px !important;
    display: flex;
    justify-content: center;
    /* Center the image horizontally */
    align-items: center;
    /* Center the image vertically */
    padding: 10px;
    /* Optional: Add some space around the image */
}

.dropdown-menu li img {
    width: 100%;
    /* Ensure the image fits the width of the container */
    height: 100%;
    /* Ensure the image fits the height of the container */
    object-fit: contain;
    /* Ensures the image maintains its aspect ratio while fitting the container */
}



.menu-icon {
    margin: auto;
    width: 50%;
}

.Menu-toggle {
    display: none;
}

.bg-customBrown {
    background-color: #412814;
}


/* Make both images responsive */
.responsive-img {
    width: 100%;
    height: auto;
    display: block;
}

/* Header-logo container is positioned absolutely */
.Header-logo img {
    width: 100%;
    /* Set to a percentage of the container */
    position: absolute;
    top: 2%;
    margin: 0 !important;
    z-index: 2;
    /* -webkit-filter: drop-shadow(1px 1px 0 #412814) drop-shadow(-1px -1px 0 #412814);
    filter: drop-shadow(1px 1px 0 #412814) drop-shadow(-1px -1px 0 #412814); */
}

/* Responsive logo image */
.Header-logo img {
    width: 30%;
    height: auto;
}

/* Ensures the sidebar takes up only 106px width */
.side-bar {
    width: 106px !important;
    position: relative;
    font-size: 12px;
    text-align: center;
    font: normal normal bold 14px/24px Roboto;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.offcanvas-body,
.offcanvas-footer {
    padding: 0 !important;
    margin: 0 !important;
    z-index: 10;
}

/* hides and positions the side bar menu */
.submenu {
    display: none;
    position: absolute;
    left: 100%;
    background-color: #ffffff;
    padding: 0;
    min-width: 150px;
    width: 1175px;
    height: 259px;
    z-index: 1000;
    border: 1px solid #412814;
}


.has-submenu a {
    display: inline-block;
}


/* on hover display menu */
.has-submenu:hover .submenu {
    display: inline-block;
}

/* switches background color and text when only when hovered */
.has-submenu:hover {
    background-color: #412814;
    color: white;
}

.has-submenu:hover .icon-format {
    filter: brightness(0) invert(1);
    /* Makes the image white on hover */
}

.searchbar-menu {
    height: 50px;
}

.search-container {
    display: flex;
    align-items: center;
    height: 100%;
    flex-grow: 1;
    justify-content: space-between;
}

.search-input {
    min-width: 150px;
    width: 90%;
    height: 100%;
    padding: 0 10px;
    font-size: 15px;
    color: black;
    background-color: white;
}

.search-confirm {
    /* UI Properties */
    font: normal normal bold 20px/24px Roboto;
    letter-spacing: 0px;
    color: #412814;
    opacity: 1;

    border-left: 1px solid #412814;
    padding-left: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 10%;
    padding-right: 5px;
}

.search-input:focus {
    border: none;
    outline: none;
}

.icon-format {
    padding-top: 10px;
    padding-bottom: 10px;
}

.subitems-list {
    width: 20%;
    padding-top: 20px;
    padding-right: 15px !important;
    padding-left: 25px !important;
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0.45px;
    color: #412814;
    opacity: 1;
    max-height: 300px;
}

.subitems-list ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.si-list {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    white-space: nowrap;
}

/* second menu's figure */
.subitems-imgs {
    width: 80%;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-left: 15px;
}

.figure {
    flex: 1;
    margin: 0;
    padding: 5px;
    text-align: center;
}

.figure img {
    width: 100%;
    height: auto;
}

.figure-caption {
    text-align: left;
    font: normal normal normal 12px/17px Roboto;
    letter-spacing: 0px;
    color: #412814;
    opacity: 1;
}

.social-icon {
    margin-top: 10px;
    width: 35px;
    height: 35px;
    opacity: 1;
}

/* Main Content / Articles Css  */
.Main-Content {
    width: 100%;
    height: auto;
    padding-right: 0;
    margin: 0;
    display: block;
    box-sizing: border-box;
    padding-left: 106px;
}

/* .container.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.col-md-6 {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
} */

.col-md-6:first-child {
    padding-right: 10px !important;
    /* Add left padding only for the first column */
}

.col-md-6:last-child {
    padding-left: 10px !important;
    /* Add right padding only for the last column */
}

/* Ensure image fits within the Bootstrap column */
/* .col-12 .col-md-6 img {
    width: 779px !important;
    object-fit:cover
} */


.icon-title-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 25px;
}

.sub-icon-title {
    text-align: left;
    font: normal normal bold 14px/17px Roboto;
    letter-spacing: 0px;
    color: #412814;
    text-transform: uppercase;
    opacity: 1;
}

.sub-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub-icon img {
    width: 40px;
    height: 40px;
}

.sub-title1 {
    width: 100%;
    height: 72px;
    border-left: 1px solid #AFAFAF;
    padding-left: 10px;
    margin-left: 10px;
    /* UI Properties */

    text-align: left;
    font: normal normal bold 30px/36px Barlow;
    letter-spacing: 0px !important;
    color: #412814;
    text-transform: uppercase;
    opacity: 1;
}

.sub-description {
    /* UI Properties */

    text-align: left;
    font: normal normal normal 16px/23px Roboto;
    letter-spacing: 0px;
    color: #4E3C2D;
    opacity: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
}

.cust-button {
    margin-top: 20px;
    margin-bottom: 65px;
}

/* ---------------------------- */
/* Image Splide CSS */

.splide__slide {
    img {
        width: 100%;
        height: 411px;
        object-fit: cover;
        display: block;
    }
}

.carousel {
    align-items: center !important;
    width: 98% !important;
    border: 1px solid #AFAFAF;
    opacity: 1;
    margin: auto;
    overflow: visible;
    box-sizing: border-box;
    margin-bottom: 40px;
    padding: 0 !important;
    position: relative;
}

/* Custom Previous Arrow */
.splide__arrow--prev {
    left: -45px !important;
    /* Adjust the distance from the left */
    width: 40px !important;
    height: 40px !important;
}

/* Custom Next Arrow */
.splide__arrow--next {
    right: -45px !important;
    /* Adjust the distance from the right */
    width: 40px !important;
    height: 40px !important;
}



.col-md-6 {
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 20px;
}

.cust-button-carousel {
    position: absolute;
    bottom: 10%;
    left: 3%;
}


.title1,
.title2,
.description {
    text-align: left;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
}

.title1 {
    font: normal normal bold 35px/50px Barlow;
    letter-spacing: 0px;
    color: #412814;
    text-transform: uppercase;
    opacity: 1;
    font-size: 1em;
    padding-top: 20px !important;
}

.title2 {
    font: normal normal bold 35px/50px Barlow;
    letter-spacing: 0px;
    color: #412814;
    text-transform: uppercase;
    opacity: 1;
    font-size: 1.5em;
    margin-bottom: 30px;
}

.description {
    font: normal normal normal 16px/23px Roboto;
    letter-spacing: 0px;
    color: #4E3C2D;
    opacity: 1;
    margin-bottom: 30px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    /* Limit to 5 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* ------------------------------ */

/* Youtube Splide CSS*/

.vid-name {
    padding-left: 10px !important;
    /* UI Properties */
    width: 100%;
    text-align: left;
    font: normal normal bold 18px/20px Barlow;
    letter-spacing: 0px;
    color: #412814;
    text-transform: uppercase;
    opacity: 1;
}

.carousel-vid-title {
    /* UI Properties */
    padding-left: 25px !important;
    text-align: left;
    font: normal normal bold 25px/30px Roboto;
    letter-spacing: 0px;
    color: #412814;
    text-transform: uppercase;
    opacity: 1;
}

.splide-vid .splide__track {
    max-width: 100%;
    max-height: 100vh;
    height: auto;
    margin: 0 auto;
}

/* Adjust the iframe size to fit within the custom dimensions */
.splide-vid .splide__slide iframe {
    width: 100%;
    height: 300px;
    border-radius: 25px;
    padding: 10px;
    margin: 0 auto;
}

#yt-padding {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* Instagram Splide CSS*/

.carousel-vid-title-IG {
    width: 100% !important;
    font: normal normal bold 25px/30px Roboto;
    letter-spacing: 0px;
    color: #412814;
    text-transform: uppercase;
    opacity: 1;
    display: flex;
    padding-left: 25px !important;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.carousel-vid-title-IG .icon {
    width: 20px;
    height: auto;
}


.splide-ig .splide__track {
    max-width: 100%;
    max-height: 100vh !important;
    height: auto;
    margin: 0 auto;
}

.splide-ig {
    width: 100% !important;
    max-height: 350px !important;
    height: 100% !important;
}

/* Adjust the iframe size to fit within the custom dimensions */
.splide-ig .splide__slide iframe {
    width: 100% !important;
    height: 350px !important;
    padding: 2px;
    margin: 0 auto;
}

.cust-button-ig {
    margin-top: 10px !important;
    text-align: center;
    font: normal normal normal 14px/17px Roboto;
    letter-spacing: 0px;
    color: #412814;
    opacity: 1;
}

.cust-button-ig button {
    border-bottom: 1px solid #AFAFAF;
}

.cust-button-ig svg {
    margin-bottom: 5px;
}

.ig-hash {
    font-size: 15px;
    font-weight: normal;
}

/* Footer CSS */

.footer-container {
    position: relative;
    width: 100%;
    background-color: #412814;
}

.footer-row-stack {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.footer-logo img {
    max-width: 35%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.footer-logo {
    align-items: center;
    padding: 10px;
}

.footer-email-icon-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.email-logo {
    height: 30px;
    width: 30px;
    margin-right: 30px;
}

.footer-title {
    text-align: center;
    font: normal normal bold 22px/27px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}

.footer-mail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.footer-text2 {
    text-align: center;
    font: normal normal normal 14px/24px Roboto;
    color: #FFFFFF;
    width: 100%;
    max-width: 600px;
    margin-bottom: 10px;
}

.footer-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    max-width: 600px;
    padding-left: 100px !important;
}

.footer-email-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.footer-notice {
    padding-top: 10px;
    text-align: left;
    letter-spacing: 0px;
    color: #AFAFAF;
    opacity: 1;
}

.footer-notice #notice1 {
    border-top: 1px solid #FFFFFF;
    padding-top: 15px;
    margin-top: 15px;
    text-align: left;
    font: normal normal bold 11px/14px Roboto;
    letter-spacing: 0px;
    color: #AFAFAF;
    margin-bottom: 0 !important;
}

.footer-notice #notice2 {
    /* UI Properties */

    text-align: left;
    font: normal normal normal 11px/14px Roboto;
    letter-spacing: 0px;
    color: #AFAFAF;
    margin-bottom: 10px;
}

.footer-contact {
    text-align: left;
    font: normal normal normal 14px/35px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.footer-socials {
    display: none;
    align-items: center;
    padding-bottom: 30px !important;
}

.footer-socials svg {
    margin-right: 10px;
}

.footer-socials svg:last-child {
    margin-right: 0;
}

.footer-list {
    /* UI Properties */

    text-align: center;
    font: normal normal bold 16px/35px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;

    padding-top: 10px;
    padding-right: 10px;
}


/* -------------- */
@media(max-width: 440px) {

    .container,
    .justify-content-center {
        padding: 0 !important;
        margin: 0 !important;
    }
}

@media (max-width: 850px) {
    /* Ensure the Splide container has proper sizing */


    /* Adjust iframe or other embedded content within slides */
    .splide-ig .splide__slide iframe {
        width: 100%;
        /* Make iframe responsive */
        height: auto;
        /* Maintain aspect ratio */
        max-height: 300px;
        /* Prevent it from being too tall */
    }

    .Header-Menu {
        top: 0;
        position: fixed;
        display: block;
        z-index: 100;
        height: 70px !important;
        overflow: hidden;
    }

    .responsive-img {
        width: auto;
        height: 263px;
        object-fit: cover;
        object-position: 84% 50%;
    }

    .dropdown-social-icons {
        display: block;
        position: fixed;
        z-index: 102;
    }

    .dropdown-social-icons .dropdown-menu {
        margin-top: 15px !important;
    }

    .Header-logo img {
        width: 22vh;
        align-items: center !important;
    }

    /* Custom Previous Arrow */
    .splide__arrow--prev {
        margin-top: 100px !important;
        left: -5px !important;
    }

    /* Custom Next Arrow */
    .splide__arrow--next {
        margin-top: 100px !important;
        right: -5px !important;
    }



    .sub-title1 {
        width: 100%;
        max-height: 100% !important;
        line-height: 1;
        font-size: 22px;
        margin-left: 15px !important;
    }

    .sub-icon-title {
        font-size: 14px;
        text-align: center;
        margin-right: 0;
        padding-right: 0;
    }

    .sub-icon {
        margin-top: 10px !important;
        width: 50px !important;
        height: 50px !important;
    }

    .sub-icon img {
        width: 40px !important;
        height: 40px !important;
        justify-content: center;
        width: auto;
        height: auto;
        max-width: 100%;
        object-fit: contain;
    }

    .box.text-center img {
        width: 100%;
        height: auto;
        object-fit: contain;
        border-radius: 10px;
    }


    .footer-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .footer-row-stack {
        flex-direction: column;
        align-items: center;
        padding: 0 !important;
        margin: 0 !important;
    }

    .footer-title {
        width: 100% !important;
        font-size: 20px !important;
        padding-top: 5px !important;
    }

    .col-6 {
        width: 100% !important;
    }

    .footer-logo .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        width: 100% !important;
        padding: 0 !important;
        margin: 0;
    }

    .footer-list {
        flex: 1 1 45%;
        min-width: 150px;
        text-align: center;
        padding: 10px;
        white-space: nowrap;
    }

    .footer-socials {
        display: flex;
        align-items: center;
        padding-top: 15px;
    }

    .footer-email-icon-text,
    .footer-mail {
        width: 100% !important;
        text-align: center;
    }

    .footer-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100% !important;
        padding: 0 !important;
        padding-right: 0 !important;
        margin: 0 !important;

    }

    .footer-logo img {
        max-width: 100%;
        text-align: center !important;
        padding: 0 !important;
        margin: 0 !important;
    }

    .footer-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100% !important;
        max-width: 100% !important;
        padding-left: 0 !important;
    }

    .footer-email-input {
        width: 100%;
        margin-bottom: 10px;
    }

    .cust-button-email button {
        width: 100% !important;
        display: flex;
        justify-content: center;
    }

    .footer-notice,
    .footer-contact {
        width: 100%;
        text-align: left;
    }

}

@media only screen and (max-width: 850px) {
    .splide-ig .splide__slide iframe {
        height: 100% !important;
    }

    .vid-name {
        padding: 0px !important;
        text-align: center !important;
    }

    .carousel-vid-title {
        /* UI Properties */
        padding: 0px !important;
        text-align: left;
    }

    .splide-vid .splide__track {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        margin: 0 auto;
    }

    /* Adjust the iframe size to fit within the custom dimensions */
    .splide-vid .splide__slide iframe {
        width: 60%;
        height: 300px;
        border-radius: 0px;
        padding: 0px;
        margin: 0 auto;
    }

    .carousel-vid-title-IG img {
        height: 50px !important;
        width: 50px !important;
    }

    .ig-name {
        padding-top: 15px !important;
        font-size: 20px !important;
    }

    .ig-hash {
        position: static;
        padding-top: 45px !important;
        padding-left: auto;
    }

    .Main-Content {
        padding: 0 !important;
        margin: 0 !important;
    }

    .cust-button-carousel {
        position: relative;
        text-align: center;
        margin-bottom: 10%;
    }

    .row .content,
    .content .row {

        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .content {
        margin-left: 5px !important;
        margin-right: 5px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }



    .title1 {
        font: normal normal 500 20px Roboto;
        text-align: center;
        margin-top: 0 !important;
        padding: 0 !important;
        margin-bottom: 20px !important;
        width: 100% !important;
    }

    .title2 {
        text-align: left;
        line-height: 1.2;
        width: 100% !important;
        font-size: 24px;
        height: 40px !important;
    }

    .description {
        text-align: left;
        width: 100% !important;
    }

    .carousel {
        height: auto;
        border: none;
    }

    .row,
    .row.content {
        flex-direction: column;
        padding: 10px;
        align-items: center;
    }

    .col-md-6 {
        width: 100%;
        text-align: center;
        padding: 10px;
        box-sizing: border-box;
    }

    .col-md-6 img {
        height: 330px !important;
        object-fit: cover;
    }


    .offcanvas-head {
        background-image: url('/Assets/img-header-mobile.png');
        background-position: center top;
        background-size: 100% 100%;
        /* Stretch image to container size */
        width: 100% !important;
        height: 180px;
        /* Allows the container to adjust height based on content */
    }

    .offcanvas-body a {
        padding-left: 10% !important;
        padding-right: 10% !important;
        width: 100% !important;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 100px !important;
    }

    .menu-item {
        text-align: left !important;
        
        
    }

    .menutext {
        margin-left: 10px;
        flex-grow: 1;
        text-align: left;
        font-size: 28px;
    }

    .menu-icon,
    .Menu-toggle {
        margin: 0;
        padding: 0;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Ensure images inside these containers are responsive and match the size */
    .menu-icon img {
        width: 50px;
        height: 50px;
        object-fit: contain;
    }

    .Menu-toggle img {
        width: 30px;
        height: 30px;
        object-fit: contain;
    }

    .has-submenu {
        height: auto;
        width: auto;
    }

    .has-submenu:hover .submenu {
        display: none;
    }

    /* Reset background color and text color on hover */
    .has-submenu:hover {
        background-color: initial;
        color: initial;
    }

    /* Reset icon filter */
    .has-submenu:hover .icon-format {
        filter: none;
    }

    #Container-Sidebar {
        width: 0;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }

    #Container-Sidebar.show {
        width: 100%;
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }

    .side-bar.toggled {
        width: 100% !important;
        height: 100% !important;
        position: fixed;
        padding: 0;
    }

    .subitems-imgs {
        display: none;
    }

    .has-submenu {
        position: relative;
        margin-bottom: 20px;
        height: 60px !important;
    }

    .menu-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 10px 0;
    }

    #submenu1 {
        display: block !important;
        position: fixed !important;
        top: 8% !important;
        left: 50% !important;
        transform: translateX(-50%);
        width: auto !important;
        height: auto !important;
    }

    .search-input {
        width: 390.44px !important;
        height: 50px !important;
    }

    .search-confirm {
        background-image: url('/Assets/MenuIcons/Icon0.png');
        background-size: cover;
        background-position: center;
        text-indent: -9999px;
        /* Hides the text (the ok) inside the span */
    }

    #Search-icon {
        display: none;
    }

    .submenu.list {
        display: inline-block !important;
        top: 110%;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        border: none;
    }

    .si-list-container {
        list-style-type: none;
        /* Removes bullets */
        padding: 0;
        margin: 0;
    }

    .si-list {
        padding: 8px 0;
        text-align: center;
    }


    html.toggle-overflow {
        overflow-y: hidden;
    }

    .Menu-Icon-Toggle {
        display: block;
    }

    .Menu-Icon-Toggle2 {
        display: block;
    }

    .row {
        padding: 0;
        margin: 0;
    }



    .col-md-6 img {
        height: auto;
    }



}

@media only screen and (max-width: 1300px) {
    .social-icon {
        display: none;
    }
}